doctype html
html(lang="en")
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-122952430-1")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width initial-scale=1.0")
        meta(name="author", content="Richard Zhang")
        
        block extra-styles
        block extra-scripts
        title= title || 'Miskatonic'
    body
        .container-fluid#app-container
            block content
