*
    margin: 0
    padding: 0

html, body
    width: 100%
    height: 100%
    overflow: hidden

.container-fluid
    height: 100%
    #app-root
        height: 100%
    .main-block
        padding-bottom: 0
        .reid-intro, .yolo-intro
            margin: 20px 40px 20px 40px
            width: 100%
            .content
                margin: 20px auto 0 auto
                text-align: justify
        .main-Row
            height: 100%
            .reid-imgSlt
                margin: 20px
                .slt-img-btn
                    margin: 0 auto
                    display: table
                .img-holder
                    width: 80%
                    max-width: 200px !important
                    height: 400px
                    margin: 80px auto 20px auto
                    border-style: dashed 
                    border-width: 5px
                    border-radius: 8px
                    border-color: gray
                    .image-holder-text
                        margin: 0 auto
                        display: grid
                        align-items: center
                        text-align: center
                        height: 100%
                    .query-image
                        width: 100%
                        height: 100%
                        margin: auto
                        padding: 10px 5px
                .notice-text
                    margin: auto
                    display: table
                    text-align: center
            .reid-result
                margin: 20px
                .notice-text
                    margin: auto
                    float: left
                .row
                    .col
                        h4
                            text-align: center
            .video-holder
                margin: 40px auto
                width: 690px
                height: 530px
                border-style: solid  
                border-width: 10px
                border-color: black
                .video-holder-inner
                    width: 650px
                    height: 490px
                    margin: 10px
                    background-color: gray 
                    border-style: solid  
                    border-width: 5px
                    border-color: black
        .home-title
            margin: 20px 
            width: 100%
            text-align: center
        .author-title
            margin: 0px 20px
            text-align: center
            width: 100%

        .home-row
            height: 100%
            margin: 40px 20px
            .card-body
                font-size: 20px
        .button-row
            .btn
                margin: -20px auto
                

.img-holder-thumb
    width: 80%
    max-width: 180px !important
    height: 260px
    margin: 20px auto 20px auto
    border-style: solid  
    border-width: 2px
    border-color: gray
    .query-image-thumbnail
        width: 100%
        height: 100%
        margin: auto
        padding: 0

.ImageGrid
    width: 600px
    margin: 40px
    .gallery-image
        max-height: 100%
        max-width: 100%
        height: 100%
        padding: 5px
        display: block
        margin: auto

#chart_label
    text-align: center
    margin: 40px auto

#emotion_chart
    margin: 40px auto
